<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="demohvac" version="0.1">
  <name>Mpu-Temp</name>
  <icon src="icon.svg"/>
  <content src="bin/demohvac" type="application/vnd.agl.native"/>
  <description>Demo application for hvac on desk-mode</description>
  <author>iotiot.in &lt;sushantdaspute84@gmail.com&gt;</author>
  <license>APL 2.0</license>
  <feature name="urn:AGL:widget:required-api">
    <param name="lib/libdemohvacbinding.so" value="local" />
  </feature>
  <feature name="urn:AGL:widget:required-permission">
    <param name="urn:AGL:permission::public:no-htdocs" value="required" />
  </feature>
</widget>
